<% @stations.each do |station| %>
<div class="station">
  <p class="name"><%= station.name%></p>
  <p class="address"><%= station.address%></p>
  <p class="fuel-type"><%= station.fuel_type%></p>
  <p class="distance"><%= station.distance%></p>
  <p class="access-times"><%= station.access_times%></p>
</div>
<% end %>
