<% @stations.each do |station| %>
  <div class="station">
    <h3 class="name">Station: <%= station.name %></h3>
    <p class="address">Address: <%= station.address %></p>
    <p class="fuel-type">Fuel Type: <%= station.fuel_type %></p>
    <p class="distance">Distance: <%= station.distance.round(2) %> Miles</p>
    <p class="access-times">Times: <%= station.access_times %></p>
  </div>
<% end %>
